.slider{
      position: relative;

}

.slider-picture img {
      width: 100%;
}

.arrow {
      font-size: 32px;
}

.slider-dots {
      width: 100%;
      position: relative;
      text-align: center;
      color: white;
      margin-top: -100px;/*TODO rivedere con absolute ?*/
}

.slider-dots .current{
      color: violet;
}